<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Nancy" version="0.5.0" />
  <package id="Nancy.Hosting.Aspnet" version="0.5.0" />
  <package id="Nancy.Viewengines.Razor" version="0.5.0" />
  <package id="jQuery" version="1.4.4" />
  <package id="jQuery.UI.Core" version="1.8.9" />
  <package id="jQuery.UI.Core.Widget" version="1.8.9" />
  <package id="jQuery.UI.Core.Mouse" version="1.8.9" />
  <package id="jQuery.UI.Core.Position" version="1.8.9" />
  <package id="jQuery.UI.Core.All" version="1.8.9" />
  <package id="NBuilder" version="2.3.0.0" />
  <package id="FileHelpers" version="2.0.0.0" />
</packages>